
<h3>Reviews at a glance</h3>

External data: {{propertyHomeLastModifiedBy}}<br>

<ul>
{{#each AdviserColumn}}
	{{#if TabText}}
		<li>{{TabText}}</li>
	{{/if}}
{{/each}}
</ul>


{{{component . "raw"}}}

